.landingContainer {
  flex: 1;
  background-color: "#121212";
}

.containerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.AuthContainerCenter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.containerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 25px;
}

.googleButton {
  width: 191px;
  height: 46px;
  left: 50%;
  right: 50%;
}

.logoutText {
  font-size: 16px;
  color: blue;
  margin-left: 5px;
  text-align: center;
}

.container {
  flex: 1;
}

.textContainer {
  align-items: center;
  margin-top: 20px;
}

.text {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.titleText {
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.gaugeContainer {
    width: 750;
    display: "flex";
    justify-content: "center";
    align-items: "center";
    margin-left: "auto";
    margin-right: "auto";
    margin-top: 20;
}


.entryContainer {
  display: flex;
  flex-direction: row;
  border-width: 5px;
  border-color: white;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-radius: 25px;
}

.emojiContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.selectedEmojiContainer {
  background-color: lightblue;
  border-radius: 20px;
}

.emoji {
  font-size: 35px;
}

.selectedEmoji {
  color: white;
}

.buttonContainer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entryInput {
    height:250px; 
    margin:5px; 
    border-width:5px; 
    border-color:rgb(56, 55, 55); 
    padding:2px; 
    border-radius:20px; 
    padding-top:15px; 
    padding-left:10px; 
}

.tag {
    font-size:12px; 
    color:grey; 
    padding-left:20px
}

.wordCount {
    margin-right: 50px;
    margin-top: 20px;
    font-size:12px; 
    padding-left: 20px;
    color:white;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  font-size: 22px;
  margin-bottom: 30px;
}
